<h1>LOGIN</h1>
<br>
<br>
<hr>
<h3><strong>Loguarse</strong></h3>
<!--<form action="user/login" method="post"></form>-->
<form action="api/user/login" method="post">
    Email: <input type="text" name="email" id="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Login"><br>
    <a href="#" id="sendEmail">Olvide mi contraseña</a><br><br>
    <input type="hidden" name="web" value="true">
</form>
<div id="response"></div>
<!--<a href="/user/github">Acceder con Github</a>-->
<a href="api/user/github">Acceder con Github</a>
<br>



<script>
        document.getElementById("sendEmail").addEventListener('click', function(event) {
            event.preventDefault();
            const email = document.getElementById("email").value;
            console.log(email)
            //fetch('user/sendCode', {
            fetch('api/user/sendCode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('response').innerText = "Revise su correo para recuperar la contraseña.";
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('response').innerText = 'Error al enviar correo.';
            });
        });