<h1>LOGIN</h1>
<br>
<br>
<hr>
<h3><strong>Loguarse</strong></h3>

<form action="user/login" method="post">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Login">
    <input type="hidden" name="web" value="true">
</form>
<a href="/user/github">Acceder con Github</a>



<script>
    /*
    const handleLoginClick= async()=>{
            let name = document.getElementById("name").value
            let password = document.getElementById("password").value
            console.log(name, email, password)
            const response= await fetch("/user",{
                method:"GET",
                headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                name:name,
                password:password
            })
            })  
            const data = await response.json();            
    }*/
</script>