<h1>Restablecer contraseña</h1>
<br>
<br>
<hr>

<form action="user/updatePassword" method="post">
    Email: <input type="email" name="email">
    Codigo: <input type="text" name="code">
    Nueva Password: <input type="password"  name="password">
    <input type="submit" value="Login"><br>
</form>
<br>
