<h2>Lista de peliculas con websocket</h2>
<hr>
<a href="/products">listado con handelbars</a>

<h3>Listado de peliculas</h3>
<div id="listadoDeProductos">
</div> <br><br>


<h3>Agregar producto</h3>

<form action="/api/products" method="post">
    Titulo: <input type="text" name="title">
    Categoria: <input type="text" name="category" >
    Descripcion:<input type="text" name="description">
    Precio:<input type="text" name="price">
    Imagen:<input type="text" name="thumbnail">
    Stock: <input type="text" name="stock">
    Status: <input type="text" name="status">
    <input type="submit" value="Crear Producto" >
</form>


<h3>Eliminar producto</h3>

<form id ="deleteProductForm">
    Id: <input type="text" id="codeProductDeleted">
    <button type="submit">Eliminar Producto</button>
</form>
<br>


<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>

