<h1>REGISTRO</h1>
<br>
<br>
<hr>
<h3><strong>Registrarse como usuario</strong></h3>
<form action="/api/user/registro" method="post">
    Nombre: <input type="text" name="first_name">
    Apellido: <input type="text" name="last_name">
    Email: <input type="email" name="email">
    Edad: <input type="number" name="age">
    Password: <input type="password" name="password"><br><br>
    <strong>Campo no obligatorio</strong><br><br>
    Cart Id:<input type="text" name="cart">
    <input type="submit" value="Registrar">
</form>