<h1>REGISTRO</h1>
<br>
<br>
<hr>
<h3><strong>Registrarse como usuario</strong></h3>
<form action="/user/registro" method="post">
    Nombre: <input type="text" name="first_name" required>
    Apellido: <input type="text" name="last_name" required>
    Email: <input type="email" name="email" required>
    Edad: <input type="number" name="age" required>
    Password: <input type="password" name="password" required><br><br>
    <input type="submit" value="Registrar">
</form>