<h1>MODIFICAR ROL: USER/PREMIUM</h1>
<br>
<br>
<strong>User: {{user.email}} <br></strong>
<strong>Rol: {{user.rol}}</strong>

<h3><strong>Cargar la documetacion correspondiente:</strong></h3>
<hr>

<form action="/api/user/{{user._id}}/documents" method="post" enctype="multipart/form-data">
    <h4>Documentacion necesaria</h4> 
    <br>
    Identificacion: <input type="file" name="identificacion" /><br><br>
    Comprobante de domicilio: <input type="file" name="comprobante_de_domicilio" /><br><br>
    Comprobante de estado de cuenta: <input type="file" name="comprobante_de_estado_de_cuenta"  /><br><br>
    <input type="submit" value="Cargar Documentacion">
</form>
