<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        li{
            list-style: none;
            margin: 10px;
            text-align: center;
        }
        img{
            width: 400px;
            height: auto;
        }
        h4{
            font-size: 30px;
            text-align: center;
            text-decoration:dotted
        }
        button{
            justify-content: center;
            padding: 15px;
        }
    </style>
</head>
<body>
    {{{body}}}

</body>
</html>